<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p><strong style="color: #0A21C0;">I AM JOSH</strong>, an Industrial Engineering graduate passionate about analytics. I’ve interned and worked as a <strong style="color: #0A21C0;">Data Analytics Engineer</strong> at a leading data science consulting firm, focusing on data transformations, modeling, and data governance.</p>

                    <br>

                    <p>My goals are:</p>

                    <ul style="list-style-type: '✦ '; margin-left: 20px;">
                    <li><strong style="color: #0A21C0;">To advance in data engineering, analytics, and business intelligence</strong>—developing platforms for data-driven decisions.</li>
                    <li><strong style="color: #0A21C0;">To optimize processes with industry-standard skills</strong>—driving operational excellence.</li>
                    </ul>

                    <br>

                    <p>I aspire to create solutions that enhance efficiency at the micro level and inform macro-level strategies through advanced analytics and process optimization.</p>

                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Let's Connect!</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Explore my works!</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>