<div class="is-fullheight has-text-centered" id="about">
    <div class="container">
        <div class="columns">
            <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                <figure class="image">
                    <img class="is-rounded" src="{{site.alex-image}}" alt="{{site.alex-name}}">
                </figure>
            </div>
            <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                <h2>{{site.alex-name}}</h2>
                <div class="about-title">
                    <h3>{{site.alex-title}}</h3>
                    <div class="about-socials">
                        <a href="{{site.alex-instagram}}" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="{{site.alex-linkedin}}" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <p>
                    I’m an expat mama and technologist in Amsterdam West, with a passion for community building that has underscored my entire life and career. 
                    Whether serving on the board of a Dutch nonprofit to help women enter, stay, and grow in tech or packing friends into too-small city apartments, I have found purpose in bringing people together for meaningful connection and growth. 
                    When I moved to Amsterdam in 2020 — mid-pandemic — I experienced firsthand the challenges of starting a community from scratch in a foreign country. 
                    I knew that when I became a parent in 2023, I’d be facing those challenges all over again.
                </p>
                <p>
                    For expat parents, community is especially important; 
                    numerous studies show that immigrant parents suffer from postnatal depression at a greater rate than local parents, in part due to lack of social support. 
                    <a href="https://www.researchgate.net/publication/368357305_The_Relationship_between_Postpartum_Depression_and_Postpartum_Support_Expatriate_and_Non-Expatriate_Comparisons">[1]</a>
                    It’s hard enough to grapple with all of the monumental emotional, physical, and social changes that come with new parenthood — but then to add on an unfamiliar language, culture, and system? 
                    With fewer family members and friends around to help? It’s no wonder that expats face an uphill battle when parenting.
                </p>
                <p>
                    With the Amsterdam Parent Project, I want to build community around peer-to-peer support, (em)powered by professionals. 
                    We have so much to learn from one another, so much empathy to share, and many free hands to hold your baby so that you can take that <i>one</i> moment of rest. 
                    My goal is to create a place where folks can share the full load of parenthood, because it’s a heavy burden to bear on your own.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                <figure class="image">
                    <img class="is-rounded" src="{{site.miriam-image}}" alt="{{site.miriam-name}}">
                </figure>

            </div>
            <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                <h2>{{site.miriam-name}}</h2>
                <div class="about-title">
                    <h3>{{site.miriam-title}}</h3>
                    <div class="about-socials">
                        <a href="{{site.miriam-instagram}}" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="{{site.miriam-linkedin}}" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <p>
                    I am a psychologist (PhD) and a psychotherapist with 10 years of clinical experience. 
                    Throughout my career, I have been deeply fascinated by the profound impact of motherhood on women's psychological development, particularly in how it catalyzes the awakening of their deeper selves.
                    This professional interest has been complemented and enriched by my personal journey into motherhood.
                </p>
                <p>
                    My own experience of becoming a mother has been transformative, to say the least.
                    It overwhelmed me with a spectrum of raw, intense emotions and presented me with challenges that, at first, seemed insurmountable.
                    The sleepless nights, the breastfeeding struggles, the balancing act between professional and personal life - all of these pushed me to my limits.
                    However, as I navigated through these challenges, I discovered reserves of strength I didn't know I possessed.
                <p>
                    This personal transformation has given me not only strength but also invaluable insights and a unique perspective that I bring to my professional practice.
                    The empathy I've developed through my own struggles allows me to connect more deeply with my clients, especially those grappling with the complexities of motherhood.
                    It has reinforced my belief in the resilience of the human spirit and the potential for growth even in the face of overwhelming circumstances.
                </p>
            </div>
        </div>
    </div>
</div>