<section class="hero is-fullheight has-text-centered has-background-white-ter" id="recent-posts">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                {% for post in site.posts limit:3 %}
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    {% include blog-card.html %}
                </div>
                {% endfor %}
                <div class="container columns is-centered">
                    <div>
                        <a href="/blog"
                            class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Read more...</a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
