<div class="blog-highlight-card" id="blog-highlight-card">
    <div class="image" style="background-image: url({{post.post-image}});"></div>
    <a href="{{post.url | absolute_url}}">
        <div class="content" style="padding:5px">
            <h1>{{post.title}}</h1>
            <div class="has-text-grey truncated-description">
                {{ post.description | truncate: 100 | strip | escape }}
            </div>
            <div class="has-text-grey">
                Published on <span class="has-text-weight-semibold">{{ post.date | date: "%-B %d, %Y" }}</span> |
                <i class="fas fa-clock"></i> <span class="has-text-weight-semibold">{% assign words = post.content | number_of_words %}{%- unless content.size == 0 -%}{{ words | divided_by:180 }} min{% endunless %}</span> read
            </div>
        </div>
    </a>
</div>