<div class="columns has-text-centered" id="blog-card">
    <div class="column is-marginless is-paddingless is-one-third-desktop is-one-third-fullhd is-one-third-tablet">
        <div class="image is-16by9" style="background-image: url({{ post.post-image | escape }});"></div>
    </div>
    <a href="{{ post.url | absolute_url | escape }}">
        <div class="column has-text-left-desktop has-text-left-tablet">
            <h1 class="title is-size-4-touch">{{ post.title | escape }}</h1>
            <div class="content has-text-grey">
                {{ post.description | truncate: 300 | strip | escape }}
                <hr class="styled-hr">
                {%- assign tags = post.tags -%}
                {%- unless tags.size == 0 -%}
                <p>
                    <i class="fas fa-tags"></i>
                    {% for tag in tags %}
                    <span class="tag is-link tag-default">{{ tag | escape }}</span>
                    {% endfor %}
                </p>
                {%- endunless -%}
                <span class="has-text-grey">Published on <span class="has-text-weight-semibold">{{ post.date | date: "%-B %d, %Y" | escape }}</span></span> |
                <i class="fas fa-clock"></i> <span class="has-text-weight-semibold">{% assign words = post.content | number_of_words %}{{ words | divided_by:180 | escape }} min</span> read
                {% if post.legacy %} | <span class="tag"> Legacy Blog</span> {% endif %}
            </div>
        </div>
    </a>
</div>