<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
        DOWNLOAD
    </a>
    <div class="navbar-dropdown has-background-black is-left">
        <a class="navbar-item" href="https://amcsquad.itch.io/game">
            <img src="/assets/images/itchio.svg" width="24" height="24" alt="AMC Squad on itch.io" />itch.io</a>
        <a class="navbar-item" href="https://www.moddb.com/games/the-amc-tc">
            <img src="/assets/images/moddb.svg" width="24" height="24" alt="AMC Squad on modDB" />modDB</a>
        <a class="navbar-item" href="https://flathub.org/apps/io.itch.amcsquad.amcsquad">
            <img src="/assets/images/flathub.svg" width="24" height="24" alt="AMC Squad on Flathub" />Flathub (Linux)</a>
    </div>
</div>
