<div class="navbar-item has-dropdown is-hoverable {% if page.url == 'events' | absolute_url  %}is-active{% endif %}">
    <a class="navbar-link is-arrowless" href="{{sitepage.url}}/events">
        Events
    </a>
    <div class="navbar-dropdown is-right">
        {% for event in site.data.events %}
        <a href="{{event.url | absolute_url}}"
            class="navbar-item text-right {% if page.url == event.url | absolute_url  %}is-active{% endif %}">
            {{event.name}}
        </a>
        {% endfor %}
    </div>
</div>