<section class="hero is-fullheight has-text-centered" id="experience">
    <div class="hero-body">
        <div class="container">
           <div class="content has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet has-text-left-mobile">

            <h1 class="this-is-the-h1-text"> <span style="color: #DF2935; font-weight: bold;"> Experience </span> </h1>
            <table>
                <tr>
                    <th>Company</th>
                    <th>Role</th>
                    <th>Dates</th>
                    <th>Responsibilities</th>
                </tr>
            
                <tr>
                    <td>Thinking Machines Data Science, Inc.</td>
                    <td>Data Analytics Engineer Intern</td>
                    <td>Jun 2023 - Aug 2023</td>
                    <td rowspan="2">
                        <p>Explored Kimball and Inmon approaches on data warehouse design.</p>
                        <p>Experienced data wrangling and ELT processing for analysis readiness.</p>
                        <p>Established standards for delivering high-quality and usable data.</p>
                        
                    </td>
                </tr>
            
                <tr>
                    <td>Thinking Machines Data Science, Inc.</td>
                    <td>L1 Data Analytics Engineer</td>
                    <td>Jul 2024 - Aug 2024</td>
                </tr>
            </table>


            <h1 class="this-is-the-h1-text"> <span style="color: #DF2935; font-weight: bold;"> Education </span> </h1>
            <table>
                <tr>
                    <th>Institution</th>
                    <th>Dates</th>
                    <th>Degree</th>
                    <th>Distinctions</th>
                </tr>
                <tr>
                    <td>University of the Philippines-Diliman</td>
                    <td>Sep 2020 - Jul 2024</td>
                    <td>Bachelor of Science in Industrial Engineering</td>
                    <td>Summa Cum Laude<br>DOST Merit Scholar</td>
                </tr>
            </table>

            <!-- <h3 class="this-is-the-h3-text"> Notable Projects </h3>
            <ul>
                <li>
                    <strong>Modernizing Patient Record Management: A Systems Analysis and Design Implementation for the OB-GYN Department at Martinez Memorial Hospital</strong>
                    <ul>
                        <li> Spearheaded the project as the technical lead, driving requirement gathering, hands-on coding, database design, and project management. </li>
                    </ul>
                <li>
                    <strong>Cost Reduction Through Demand Forecasting and Inventory Management in the Color Coating Line of Manufacturing Operations, Union Galva Steel Corporation</strong>
                    <ul>
                        <li>Led the development of a bespoke forecasting and inventory management tool using Excel, enabling clients to effectively forecast and manage inventory for the production line.</li>
                    </ul>
                </li>
                <li>
                    <strong>Improving Restaurant XYZ’s Inventory and Information Systems Management</strong>
                    <ul>
                        <li>Redesigned the company’s accounting and POS system and process workflows, which improved monitoring capabilities and processing time by 41%.</li>
                    </ul>
                </li>
            </ul> -->
            

           </div>
        </div>
    </div>
</section>
