<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>Status:</th>
            <td><small class="btn btn-col status-button">{{ page.status | escape }}</small></td>
        </tr>
        <tr>
            <th>Tools Used:</th>
            <td>
                {% for tool in page.tools %}
                <small class="btn btn-col status-button">{{ tool | escape }}</small>
                {% unless forloop.last %}&nbsp;{% endunless %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Primary Roles:</th>
            <td>
                {% for role in page.roles %}
                <small class="btn btn-col status-button">{{ role | escape }}</small>
                {% unless forloop.last %}&nbsp;{% endunless %}
                {% endfor %}
            </td>
        </tr>
    </table>
</div>

<!-- REPO OVERLAY -->
{% if page.statslink %}
<div style="position: fixed; right: 0; bottom: 0; z-index: 1000000; padding: 10px !important;">
    <a href="http://github.com/{{ page.repo }}" target="_blank">
        <img src="{{ page.statslink }}" style="opacity: 0.8;">
    </a>
</div>
{% endif %}