<section id="highlights" class="hero is-fullheight has-text-centered has-background-white">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-multiline">
                {% for highlight in site.data.highlights %}
                <div class="column is-one-fourth">
                    <a href="{{ site.baseurl | escape }}{{ highlight.link | escape }}" target="_blank">
                        <div class="card has-background-white-ter highlight-card" id="project-card">
                            <div class="card-content">
                                <h2 class="title">{{ highlight.name | escape }}</h2>
                                <p class="truncated-description">{{ highlight.description | escape }}</p>
                                <hr class="styled-hr">
                                <p class="developed-by">Developed by: <span class="developer-name">{{ highlight.developer | escape }}</span></p>
                                <!-- Date Range Section -->
                                {% if highlight.start-date and highlight.end-date %}
                                <div class="date-range">
                                    <p>{{ highlight.start-date | escape }} - {{ highlight.end-date | escape }}</p>
                                </div>
                                {% endif %}
                            </div>
                            <div class="card-image">
                                <figure class="image is-4by4">
                                    <img src="{{ highlight.image | escape }}" alt="{{ highlight.name | escape }}">
                                </figure>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="section">
                <a href="{{ site.url | escape }}{{ site.baseurl | escape }}/projects" class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">
                    All Other Projects
                </a>
            </div>
        </div>
    </div>
</section>

<style>
    .developed-by {
        font-size: 0.875rem;
        color: #4a4a4a;
        margin: 0.5em 0 0.2em 0;
    }

    .developer-name {
        font-weight: bold;
        color: #333;
    }

    .date-range p {
        font-size: 0.75rem;
        color: #7a7a7a;
        margin: 0.2em 0;
    }

    .highlight-card {
        transition: transform 0.3s;
    }

        .highlight-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
</style>