<div class="columns is-centered is-multiline is-mobile">
    {% for project in site.data.personal-projects %}
    <div class="column has-text-centered is-marginless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
         id="project-card">
        <a href="{{ site.baseurl | escape }}{{ project.link | escape }}" target="_blank">
            <div class="has-background-black card">
                <figure class="image is-4by3" style="background-image: url({{ project.image | escape }});">
                </figure>
                <div class="card-content">
                    <div class="title-container">
                        <h1 class="title has-text-white is-size-4 fixed-title">{{ project.name | escape }}</h1>
                    </div>
                    <!-- Date Range Section -->
                    {% if project.start-date %}
                    <div class="date-range" style="margin-top: 5px;">
                        <p class="is-size-7 has-text-grey-light">{{ project.start-date | escape }} {% if project.end-date %} - {{ project.end-date | escape }} {% endif %} </p>
                    </div>
                    {% endif %}
                    <div class="tags-container" style="margin-top: 10px;">
                        {%- assign tags = project.tags | split: ',' -%}
                        {%- unless tags.size == 0 -%}
                        <p class="is-uppercase" style="font-size: 0.75rem;">
                            {% for tag in tags %}
                            {% assign tag_strip = tag | strip %}
                            {% if tag_strip == "Solo" %}
                            <span class="tag" style="font-size: 0.60rem; margin-bottom: 0.25rem; background-color: gold; color: black;">{{ tag_strip | escape }}</span>
                            {% else %}
                            <span class="tag is-link" style="font-size: 0.60rem; margin-bottom: 0.25rem;">{{ tag_strip | escape }}</span>
                            {% endif %}
                            {% endfor %}
                        </p>
                        {%- endunless -%}
                    </div>
                    <div class="icon-container" style="position: absolute; bottom: 10px; right: 10px; display: flex; gap: 5px;">
                        {% if project.downloadable %}
                        <span class="icon" style="font-size: 1rem; color: white;">
                            <i class="fas fa-download"></i>
                        </span>
                        {% endif %}
                        {% if project.git %}
                        <span class="icon" style="font-size: 1rem; color: white;">
                            <i class="fab fa-git-alt"></i>
                        </span>
                        {% endif %}
                        {% if project.playable %}
                        <span class="icon" style="font-size: 1rem; color: white;">
                            <i class="fas fa-gamepad"></i>
                        </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>