<div class="columns is-centered is-multiline is-mobile">
    {% for project in site.data.professional-projects %}
    <div class="column has-text-centered is-marginless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
         id="project-card">
        <a href="{{ project.link }}" target="_blank">
            <div class="has-background-black card">
                <figure class="image is-2by1" style="background-image: url({{ project.image }});">
                </figure>
                <div class="card-content">
                    <h1 class="title has-text-white is-size-4">{{ project.name }}</h1>
                    <div style="margin-top: 10px;">
                        {%- assign tags = project.tags | split: ',' -%}
                        {%- unless tags.size == 0 -%}
                        <p class="is-uppercase" style="font-size: 0.75rem;">
                            <!-- Adjust the font-size value as needed -->
                            {% assign i = 0 %}
                            {% for tag in tags %}
                            <span class="tag is-link" style="font-size: 0.60rem; margin-bottom: 0.25rem;">{{ tag | strip }}</span> <!-- Adjust the font-size value as needed -->
                            {% assign i = i | plus: 1 %}
                            {% endfor %}
                        </p>
                        {%- endunless -%}
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>