<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body slideshow">
    {% for hero in site.heroes %}
    <img src="{{ hero }}" />
    {% endfor %}
    <div class="container">
      <h1 class="title has-text-white is-size-1 is-uppercase has-text-weight-bold">
        {{site.title}}
      </h1>
      <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">
        {{site.description}}
      </h3>
      <hr>
    </div>
  </div>
  <script type="javascript">
  (function(){
    document.getElementById('slideshow').getElementsByTagName('img')[0].className = "fx";
    window.setInterval(kenBurns, 6000);		
    var images          = document.getElementById('slideshow').getElementsByTagName('img'),
        numberOfImages  = images.length,
        i               = 1;

    function kenBurns() {
    if(i==numberOfImages){ i = 0;}
    images[i].className = "fx";
    if(i===0){ images[numberOfImages-2].className = "";}
    if(i===1){ images[numberOfImages-1].className = "";}
    if(i>1){ images[i-2].className = "";}
    i++;

    }
  })();
  </script>
</section>



