<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container main-page">
      <img class="main-image" src="/{{site.logo-url}}" />
      <h1 class="title main-title is-size-1 is-uppercase has-text-weight-bold">
        {{site.title}}
      </h1>
      <h3 class="subtitle has-text-weight-medium is-marginless">
        {{site.description}}
      </h3>
      <hr>
      <div class="link-tree">
        {% for event in site.data.events offset: 0 limit:1 %}
          <a href="{{event.link}}"
            class="button is-rounded">
            
            Next event - {{event.name}}</a>
          </a>  
        {% endfor %}
        
        <a href="{{site.instagram-link}}"
        class="button is-rounded">Follow us on Instagram <i class="fas fa-external-link-alt"></i></a>
        </a>
        <a href="{{site.roadmap-link}}"
          class="button is-rounded">Public roadmap <i class="fas fa-external-link-alt"></i></a>
        </a>
      </div>
    </div>
  </div>
</section>