<section class="hero is-fullheight has-text-centered" id="hero">
    <div class="hero-body">
        <video id="hero-video" autoplay muted playsinline loop>
            <source src="https://onedrive.live.com/download?resid=9594E849DC7FC39E%2160477&authkey=!AKyn8XT9j86gY6Q" type="video/mp4">
            <source src="https://onedrive.live.com/download?resid=9594E849DC7FC39E%2160478&authkey=!AEpaeSAh2gpGSHY" type="video/ogg">
            Your browser does not support the video tag.
        </video>
        <div class="container">
            <h1 class="title has-text-white is-size-1 has-text-weight-bold">
                Hi, I am {{ site.title | escape }}
            </h1>
            <h3 class="subtitle has-text-white-bis has-text-weight-medium is-marginless">
                {{ site.description | escape }}
            </h3>
            <hr class="styled-hr">
            <div class="container columns is-centered">
                <div>
                    <a href="{{ site.url | escape }}{{ site.baseurl | escape }}/projects"
                       class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">
                        Projects
                    </a>
                </div>
                <div>
                    <a href="{{ site.url | escape }}{{ site.baseurl | escape }}/blog"
                       class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Blog</a>
                </div>
            </div>
        </div>
    </div>
</section>