<section class="hero is-fullheight is-full has-text-centered has-background-black" id="skills">
    <div class="hero-body">
        <div class="container">
            <div class="left-column">
                <h1 class="this-is-the-h1-text">Skills and Interest</h1>
            </div>
            <div class="right-column">
                <div class="row">
                    <div class="image-container">
                        <img src="\assets\images\data-transformation.png" alt="Data Transformations" />
                    </div>
                    <div class="text-container">
                        <h2>Data Transformations</h2>
                        <p>Converting raw data into a more suitable structure for analysis.</p>
                        <p><strong>Tech Used:</strong> SQL (BigQuery), Python (Pandas), dbt</p>
                        <p><strong>Concepts Used:</strong> Data Wrangling, Kimball and Inmon Modeling Approaches, Data Quality</p>
                    </div>
                </div>
                <div class="row">
                    <div class="image-container">
                        <img src="\assets\images\process-improvements.png" alt="Process Improvements" />
                    </div>
                    <div class="text-container">
                        <h2>Process Improvements</h2>
                        <p>Applying IE methodologies to enhance the efficiency and effectiveness of business processes.</p>
                        <p><strong>Concepts Used:</strong> Process Mapping, Motion Study Techniques, Lean Methodologies</p>
                    </div>
                </div>
                <div class="row">
                    <div class="image-container">
                        <img src="\assets\images\info-sys.png" alt="Information Systems" />
                    </div>
                    <div class="text-container">
                        <h2>Information Systems</h2>
                        <p>Integrating technology and processes to manage operational data effectively. </p>
                        <p><strong>Tech Used:</strong> SQL (Postgres), Python (Dash, Pandas)</p>
                        <p><strong>Concepts Used:</strong> Relational Database Management, Data Modeling, Requirement Elicitation</p>
                    </div>
                </div>
                <div class="row">
                    <div class="image-container">
                        <img src="\assets\images\ml.png" alt="Machine Learning" />
                    </div>
                    <div class="text-container">
                        <h2>Machine Learning</h2>
                        <p>Creating models to explore patterns and make predictions</p>
                        <p><strong>Tech Used:</strong> R, Python (scikit-learn, TensorFlow)</p>
                        <p><strong>Concepts Used:</strong> Regressions, Supervised learning, neural networks</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
