<section class="hero is-halfheight has-text-centered" id="hero">
    <div class="hero-body">
        <video id="hero-video" autoplay muted playsinline loop>
            <source src="https://onedrive.live.com/download?resid=9594E849DC7FC39E%2160477&authkey=!AKyn8XT9j86gY6Q" type="video/mp4">
            <source src="https://onedrive.live.com/download?resid=9594E849DC7FC39E%2160478&authkey=!AEpaeSAh2gpGSHY" type="video/ogg">
            Your browser does not support the video tag.
        </video>
        <div class="container">
            <h1 class="title has-text-white is-size-1 is-uppercase has-text-weight-bold">
                {{ page.title | escape }}
            </h1>
            <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">
                {{ page.description | escape }}
            </h3>
        </div>
    </div>
</section>