<div class="column has-text-left-desktop has-text-left-tablet" id="event-highlight">
    <div>
        <p class="event-tagline">
          {{ page.tagline }}
        </p>
        <h3><span class="icon">📅</span>{{ page.date | date: "%d %-B, %Y" }}</h3>
            <ul>
                <li>Toddlers (size 80 - 104) from <b>10:30 to 13:30</b> -
                    <a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NjRyNjZjYjU2OHI2OGI5ajcxaGpjYjlrNjVnamNiYjFjb3M2OGJiNTZ0aWo2ZGoxY2hnbWNwMW9jYyBmZjA0OGE2ZDY1ZGU3MjcxODM2YjQ2YjdkMTBmY2U5NGQ3NzRiYmI3MzAwNzgzZWIwNTlhNmI0MzFjNTY4Y2E5QGc&tmsrc=ff048a6d65de7271836b46b7d10fce94d774bbb7300783eb059a6b431c568ca9%40group.calendar.google.com">
                        Add to calendar   
                    </a>
                </li>
                <li>
                    Babies (up to size 80) from <b>14:00 to 17:00</b> - 
                    <a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=NGY1bWZqbjd2aWxrb3QzcWJ1aHUzYXQ4OGsgZmYwNDhhNmQ2NWRlNzI3MTgzNmI0NmI3ZDEwZmNlOTRkNzc0YmJiNzMwMDc4M2ViMDU5YTZiNDMxYzU2OGNhOUBn&amp;tmsrc=ff048a6d65de7271836b46b7d10fce94d774bbb7300783eb059a6b431c568ca9%40group.calendar.google.com">
                        Add to calendar
                    </a>
                </li>
            </ul>
        <h3><span class="icon">📍</span>{{ page.location-name}}</h3>
            <ul>
                <li>
                    <a href={{page.location-link}}>{{ page.location-address }}</a>
                </li>
            </ul>
        <h3><span class="icon">🏃🏼</span>No tickets required - just show up!</h3>
            <ul>
                <li>Buyers enter free 🤑</li>
                <li>
                    Sellers pay €10 to reserve a spot <a href="{{page.url}}">here</a> -- or arrive on the day.
                </li>
            </ul>
        <h3><span class="icon">🤗</span>Sale + community hang</h3>
            <ul>
                <li>Coffee and tea</li>
                <li>A place for parents to hang out and meet each other</li>
                <li>A play area for babies/kids</li>
                <li>Donation corner for a charity helping new moms in need</li>  
            </ul>
        <a href="{{site.url}}{{site.baseurl}}/{{page.url}}#faq"
            class="button">FAQ</a>
    </div>
</div>