@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Quicksand:wght@300..700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css');


/* colors */
$white: #F7EEE6;
$goldenrod: #E1AD37; // logo accent
$charcoal: #303633;
$violet: #B185A7;
$soft-green: #3F6455;
$sand: #D7C3AC;

html,
body {
    font-family: "Quicksand", sans-serif;
    scroll-behavior: smooth !important;
    transition: all 0.25s ease;
    background-color: $white;
}

/* width */
::-webkit-scrollbar {
    width: 0.5vmax !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: white !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #363636 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black !important;
}

::placeholder {
    font-family: "Quicksand", sans-serif;
}

#navbar {
    .navbar-burger {
        span:nth-child(2) {
            left: calc(50%);
            width: 8px;
        }
    }
}

.is-active {
    font-weight: bold;
}

.columns {
    .button {
        margin: 0.5rem !important;
    }
}

hr {
    margin: 1rem auto;
    height: 1px;
}

.column {
    margin: auto 0.5rem;
    padding: 0.5rem;
}

.searchResult {
    a {
        .title {
            text-decoration: underline;
        }
    }
}