---
---

@import "main.scss"
;

#navbar {
    opacity: 0.95;
}

.is-active {
    font-weight: 600;
}

.navbar-dropdown {
    border: none;
    right: 0;
    left: auto;
}

a.navbar-item:hover,
.navbar-link:hover {
    background-color: rgba($color: #fff, $alpha: 0.25) !important;
    color: white !important;
}

a.navbar-item.is-active {
    background-color: rgba($color: #fff, $alpha: 0.25) !important;
    color: white !important;

    &:hover {
        background-color: rgba($color: #fff, $alpha: 0.25) !important;
        color: grey;
    }
}

.navbar-link:not(.is-arrowless)::after {
    border-color: grey;
}

#hero {
    position: relative;
    overflow: hidden;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);

    video#hero-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        opacity: 0.25;
        filter: blur(0.15rem);
    }

    .hero-body {
        position: relative;
        z-index: 1;
    }

    .container {
        position: relative;
        z-index: 2;
    }
}

.title {
    margin: auto 0.60rem !important;
    display: block; /* Changed from -webkit-box */
    /* Removed -webkit-line-clamp, -webkit-box-orient, overflow, and text-overflow properties */
    word-wrap: break-word; /* Ensure long words break onto the next line */
}

.subtitle {
    letter-spacing: 0.25rem;
}

#about {
    .image {
        max-width: 20vmax;
        margin: auto;

        img {
            border: 0.25rem;
        }
    }

    a {
        min-width: 25vmax;
        margin: 0.5rem;
    }
}

#contact {
    #contact-button {
        margin: 0.5rem auto;
        display: flex;
        justify-content: center;
    }

    svg {
        transition: all 0.15s ease-in-out;
        margin: auto 0.75vmax;

        &:hover {
            transform: scale(1.10);
            filter: opacity(0.75);
        }
    }

    hr {
        background-color: black;
    }
}

#blog {
    .hero-body {
        padding: 3rem 0.25rem 1rem 0.25rem;
    }

    .container {
        margin: 1.5rem auto;
    }

    #blog-card {
        transition: all 0.25s ease;
        margin-bottom: 0.5vmax;
        transform: scale(0.85);
        margin-right: 2.5vmax;
        margin-left: 2.5vmax;
        line-height: normal;
        border-radius: 0.25rem;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

        &:hover {
            transform: scale(0.875);
            -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
        }

        @media (max-width: 768px) {
            transform: scale(1);
            margin-bottom: 5vmax !important;

            &:hover {
                transform: scale(1.025);
                margin-bottom: 5vmax !important;
                -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
                -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            }

            .image {
                padding-top: 50% !important;
            }
        }

        .title {
            margin: 0.5rem !important;
        }

        .content {
            margin: 0.5rem;
        }

        .column {
            display: grid;

            .image {
                border-radius: 0.25rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}

#search {
    border-bottom: 0.15rem solid;

    input {
        border: none;
        outline: none;
        font-weight: 500 !important;

        &::placeholder {
            font-weight: 500;
            color: grey;
            letter-spacing: 0.25rem;
        }
    }

    .button {
        transition: all 0.25s ease;

        &:focus {
            outline: 0.25rem solid white;
        }

        border: none;
    }
}

#footer {
    #backtotop {
        transition: all 0.25s ease;
        width: 10rem;
        padding: 0.25rem;
        margin: auto auto 1rem auto;

        &:hover {
            transform: scale(1.05);
        }
    }

    .container {
        margin: auto;
        padding: 1.5rem;
        line-height: 1.25;

        .column {
            display: grid;
            justify-content: center;

            li {
                list-style: circle;
                list-style-position: outside;
            }

            a {
                color: #7a7a7a;

                &:hover {
                    color: white;
                }
            }

            figure {
                border: 1.5px solid white;
                border-radius: 50rem;
                justify-content: center;
                margin: auto;
                transition: all 0.25s ease;

                &:hover {
                    transform: scale(1.15);
                }
            }
        }
    }

    #credits {
        padding: 0.75rem;
        font-size: 0.85rem;

        a {
            text-decoration: underline;
            font-weight: bolder;
            color: white;
        }
    }
}

#project {
    .columns {
        .column {
            border-radius: 0.5rem;

            .image {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    #project-card {
        transform: scale(0.95);
        transition: all 0.5s ease;
        margin-bottom: 0.5rem !important;
        display: inline-table;

        &:hover {
            transform: scale(0.975);
        }
    }

    .card {
        transition: all 0.25s ease;

        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.90) !important;
        }
    }
}

.truncated-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
    height: 4.5rem; /* Adjust this value based on your line height and desired number of lines */
}

#post {
    @media (min-width: 768px) {
        margin: auto 2.5vmax;
    }

    a {
        text-decoration: underline;
    }

    #title {
        text-decoration: none;
    }

    .title {
        margin: auto;
    }

    #post-image {
        border-radius: 0.25rem;
    }

    .subtitle {
        letter-spacing: 0.05rem;
    }

    #description {
        margin-bottom: 1.25vmax;
    }

    .tag {
        margin: 0.15rem auto;
    }

    .content {
        ol, ul, blockquote {
            display: inline-block;
        }

        hr {
            background-color: grey;
        }

        img, iframe {
            max-width: calc(100% - 25vw);
            margin: 0.25rem auto;

            @media (max-width: 768px) {
                max-width: calc(100% - 5vw);
            }
        }

        ul, ol {
            display: inline-block;
        }
    }

    .container {
        margin: 2.5rem auto;
        word-break: break-word;
        max-width: -webkit-fill-available;
    }

    #disqus_thread {
        margin-top: 5vmax;
    }
}

#highlights {
    .highlight-card {
        transition: all 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .highlight-card:hover,
    .highlight-card:focus {
        transform: scale(1.05);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    }

    .highlight-card:active {
        transform: scale(1.05);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    }
}

#page-section {
    .content {
        ul, ol, blockquote {
            display: inline-block;
        }
    }
}

.embed-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%; /* Adjusted aspect ratio to be more visible on mobile */
    overflow: hidden;
    max-width: 100%;
    background: #ccc;

    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.social-media-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
}

.social-media-icons a {
    margin: 0 0.5em;
    font-size: 1.5em;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Adjust spacing between items */
}

.flex-item-2 {
    flex: 1 1 48%; /* 48% width to allow for spacing between images */
    min-width: 48%; /* Ensures items are at least 48% wide */
}

.flex-item-4 {
    flex: 1 1 48%; /* 48% width to allow for spacing between images */
    min-width: 48%; /* Ensures items are at least 48% wide */
}

.flex-item img {
    width: 100%;
}

.styled-hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, #ccc, transparent);
    margin: 1em 0;
}

.game-icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.status-button {
    background-color: #007bff;
    color: #fff;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    margin: 0.25rem;
    display: inline-block;
}

.btn-col {
    display: inline-block;
    margin: 0.25rem 0;
}

.text-right {
    text-align: right !important;
}

.fixed-bottom-right {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
}

.centered-content {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

/* Reuse existing styles for consistency */
.blog-highlight-card {
    max-width: 600px; /* Ensure it fits three in a row */
    overflow: hidden; /* Prevents overflow of content */
    border-radius: 5px; /* Optional: for rounded corners */
    transition: all 0.25s ease;
    transform: scale(0.98);
    line-height: normal;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

    &:hover {
        transform: scale(1);
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    }
}

/* Ensure image consistency */
.blog-highlight-card .image {
    height: 100px; /* Fixed height for image */
    width: 100%; /* Make sure image takes full width */
    background-size: cover;
    background-position: center;
    margin-bottom: 0.5rem;
    border-radius: 5px; /* Optional: for rounded corners */
}

.blog-highlight-card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    overflow: hidden; /* Prevents overflow of content */
}

.blog-highlight-card .content h1 {
    font-size: 1rem; /* Adjust font size as needed */
    line-height: 1.2;
    margin: 0;
    margin-bottom: 0.5rem;
}

.blog-highlight-card .content .has-text-grey {
    font-size: 0.875rem; /* Adjust font size as needed */
    line-height: 1.2;
    margin: 0.25rem 0;
    overflow: hidden; /* Prevents overflow of content */
    text-overflow: ellipsis; /* Adds ellipsis for overflow text */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limits to 3 lines of text */
    -webkit-box-orient: vertical;
}

.truncated-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
    height: 4.5rem; /* Adjust this value based on your line height and desired number of lines */
}

#blog-highlights-section .columns {
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
    .blog-highlight-card {
        max-width: 100%; /* Take full width on mobile */
        margin: 0.5rem 0; /* Adjust margin for spacing */
    }

    #blog-highlights-section .columns {
        flex-direction: column;
        align-items: stretch;
    }

    .column {
        flex: 1 0 100%; /* Take full width */
        max-width: 100%; /* Ensure full width */
    }
}