---
---

@import "main.scss";

#navbar {
    opacity: 0.95;
}

.is-active {
    font-weight: 600;
}

.navbar-dropdown {
    border: none;
    right: 0;
    left: auto;
}

a.navbar-item:hover,
.navbar-link:hover {
    background-color: rgba($color: #fff, $alpha: 0.25) !important;
    color:  #FFBC0A !important;
}

a.navbar-item.is-active {
    background-color: rgba($color: #fff, $alpha: 0.25) !important;
    color: white !important;

    &:hover {
        background-color: rgba($color: #fff, $alpha: 0.25) !important;
        color: grey;
    }
}

.navbar-link:not(.is-arrowless)::after {
    border-color: grey;
}


#hero {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);

    &::before {
        filter: blur(0.15rem);
        background-image: url({{site.heroimage}});
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        position: absolute;
        opacity: 0.25;
        content: "";
    }
}
.title {
    margin: auto 0.75rem!important;
}
.subtitle {
    letter-spacing: 0.25rem;
}

#about {
    .image {
        max-width: 20vmax;
        margin: auto;

        img {
            border: 0.25rem dotted black;
        }
    }

    a {
        min-width: 25vmax;
        margin: 0.5rem;
    }
    p strong {
        color: #0A21C0; /* Change this to your desired color */
    }

    p ol li strong {
        color: #0A21C0; /* Change this to your desired color */
    }
}

#skills{
    h1 {
        color: white; /* Changes font color to white */
        font-size: 2.5em; /* Increase font size for prominence */
        font-weight: bold; /* Make font weight bold */
        margin: 0; /* Remove default margin */
        padding: 10px; /* Add padding if needed */
    }
    /* Ensure the hero section takes full viewport height */
    .hero {
        display: flex;
        align-items: stretch; /* Stretch columns to full height */
        justify-content: center; /* Center content horizontally */
        min-height: 100vh; /* Full viewport height */
        padding: 20px;
    }

    /* Styling for the container */
    .container {
        display: grid;
        grid-template-columns: 1fr 3fr; /* Create two columns with different widths */
        gap: 20px; /* Optional: Adds spacing between columns */
        width: 100%;
        height: 100%; /* Full height of the hero section */
    }

    /* Styling for the left column */
    .left-column {
        color: white; /* Text color */
        padding: 20px; /* Padding inside column */
        border-radius: 8px; /* Optional: Rounded corners */
        display: flex; /* Flexbox to handle content alignment */
        align-items: center; /* Center content vertically */
        justify-content: center; /* Center content horizontally */
        flex-direction: column; /* Ensure heading is centered vertically and horizontally */
    }

    /* Styling for the right column */
    .right-column {
        display: flex;
        flex-direction: column;
        gap: 20px; /* Spacing between rows */
        padding: 20px; /* Padding inside column */
        border-radius: 8px; /* Optional: Rounded corners */
    }

    /* Styling for individual rows */
    .row {
        display: flex; /* Flexbox layout for row items */
        align-items: flex-start; /* Align items to the top of the row */
        gap: 20px; /* Spacing between image and text */
        color: white; /* Text color for contrast */
        border-radius: 4px; /* Optional: Rounded corners */ 
        text-align: left; /* Ensure text is left-aligned */
    }

    .image-container {
        flex-shrink: 0; /* Prevent the image from shrinking */
        width: 100px; /* Adjust the width of the image container */
        height: 100px; /* Adjust the height of the image container */
        overflow: hidden; /* Hide overflow of image */
        border-radius: 8px; /* Optional: Rounded corners for the image */
    }

    .image-container img {
        width: 100%; /* Ensure image fills the container */
        height: auto; /* Maintain aspect ratio of the image */
    }

    .text-container {
        flex: 1; /* Allow the text container to take remaining space */
    }

    /* Styling for headings and paragraphs */
    .row h2 {
        margin-top: 0; /* Remove top margin for headings */
        font-size: 1.5em; /* Adjust font size */
        color: #73EEDC
    }

    .row p {
        margin: 5px 0; /* Margin for paragraphs */
    }

    .row p strong{
        color: #FFBC0A; /* Change this to your desired color */
    }

}

#experience{
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    th, td {
        padding: 10px;
        border-bottom: 1px solid #000000;
        text-align: left;
    }
    th {
        background-color: #ffffff;
    }
    .section-title {
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 10px;
    }
}

#contact {
    #contact-button {
        margin: 0.5rem auto;
        display: flex;
        justify-content: center;
    }

    svg {
        transition: all 0.15s ease-in-out;
        margin: auto 0.75vmax;

        &:hover {
            transform: scale(1.10);
            filter: opacity(0.75);
        }
    }

    hr {
        background-color: black;
    }
}

#blog {
    .hero-body {
        padding: 3rem 0.25rem 1rem 0.25rem;
    }

    .container {
        margin: 1.5rem auto;
    }

    #blog-card {
        transition: all 0.25s ease;
        margin-bottom: 0.5vmax;
        transform: scale(0.85);
        margin-right: 2.5vmax;
        margin-left: 2.5vmax;
        line-height: normal;
        border-radius: 0.25rem;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

        &:hover {
            transform: scale(0.875);
            -webkit-box-shadow: 0px 0px 30px 0px #0A21C0;
            -moz-box-shadow: 0px 0px 30px 0px #0A21C0;
            box-shadow: 0px 0px 30px 0px #0A21C0;
        }

        @media (max-width: 768px) {
            transform: scale(1);
            margin-bottom: 5vmax !important;

            &:hover {
                transform: scale(1.025);
                -webkit-box-shadow: 0px 0px 30px 0px #0A21C0;
                -moz-box-shadow: 0px 0px 30px 0px #0A21C0;
                box-shadow: 0px 0px 30px 0px #0A21C0;
            }

            .image {
                padding-top: 50% !important;
            }
        }

        .title {
            margin: 0.5rem !important;
        }

        .content {
            margin: 0.5rem;
        }

        .column {
            display: grid;

            .image {
                border-radius: 0.25rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}

#search {
    border-bottom: 0.15rem solid;

    input {
        border: none;
        outline: none;
        font-weight: 500 !important;

        &::placeholder {
            font-weight: 500;
            color: grey;
            letter-spacing: 0.25rem;
        }
    }

    .button {
        transition: all 0.25s ease;
        &:focus {
            outline: 0.25rem solid white;
        }

        border: none;
    }
}


#footer {
    #backtotop {
        transition: all 0.25s ease;
        width: 10rem;
        padding: 0.25rem;
        margin: auto auto 1rem auto;

        &:hover {
            transform: scale(1.05);
        }
    }

    .container {
        margin: auto;
        padding: 1.5rem;
        line-height: 1.25;

        .column {
            display: grid;
            justify-content: center;

            li {
                list-style: circle;
                list-style-position: outside;
            }

            a {
                color: #7a7a7a;

                &:hover {
                    color: white;
                }
            }

            figure {
                border: 1.5px solid white;
                border-radius: 50rem;
                justify-content: center;
                margin: auto;
                transition: all 0.25s ease;
                &:hover{
                    transform: scale(1.15);
                }
            }
        }
    }

    #credits {
        padding: 0.75rem;
        font-size: 0.85rem;

        a {
            text-decoration: underline;
            font-weight: bolder;
            color: white;
        }
        background-color: #DF2935;
    }
}

#project {
    .columns {
        .column {
            border-radius: 0.5rem;
            .image {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    #project-card {
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        transform: scale(0.95);
        transition: all 0.5s ease;
        margin-bottom: 0.5rem !important;
        display: inline-table;
        &:hover {
            transform: scale(0.975);
        }
    }
    .card {
        transition: all 0.25s ease;
        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.90)!important;
        }
    }
}

#post {
    @media (min-width: 768px) {
        margin: auto 10vmax;
    }
    a {
        text-decoration: underline;
    }

    .metadata{
        display: flex;          // Enables flexbox layout
        justify-content: space-between; // Distributes space between columns
        align-items: center;    // Aligns items vertically center (optional, depending on content)
        width: 100%;            // Ensures the container spans the full width of its parent
    }

    .left-metdata {
        text-align: left;       // Ensures text inside is left-aligned
    }
    
    .right-metadata {
        text-align: right;      // Ensures text inside is right-aligned
    }

    #title {
        text-decoration: none;
    }
    .title {
        margin: auto;
        padding-top: 40px;
        color: #1E91D6;
        font-size: 56px;
    }
    h1{
        color: #FFBC0A;
    }
    #post-image {
        border-radius: 0.25rem;
    }
    .subtitle {
        letter-spacing: 0.05rem;
    }

    #description {
        margin-bottom: 1.25vmax;
    }

    .tag {
        margin: 0.15rem auto;
        background-color: #DF2935;
    }
    .content {
        ol, ul, blockquote {
            display: inline-block;
        }
        hr{
            background-color: grey;
        }
        img, iframe {
            max-width: calc(100% - 25vw);
            display: block;
            margin-left: auto;
            margin-right: auto;
            @media (max-width: 768px) {
                max-width: calc(100% - 5vw);
            }
        }
        ul, ol {
            display: inline-block;
        }

        table {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            table-layout: auto;

        }

        th{
            background-color: #000000;
            color: white;
        }

        td {
            max-width: 500px; /* Limits the maximum width of cells, adjust as needed */
        }

        th, td {
            word-wrap: break-word;
            white-space: normal;
            overflow-wrap: break-word;
            text-align: left; /* Aligns text to the left for better readability */
        }


    }

    .container {
        margin: 2.5rem auto;
        word-break: break-word;
        max-width: -webkit-fill-available;
    }
}

#page-section {
    .content {
        ul, ol, blockquote {
            display: inline-block;
        }
    }
}