---
---

@import "main.scss";

// Header navigation

#navbar {
    background-color: $white;
    padding: 0.5em;
}

a.navbar-item {
    color: $charcoal;
    .is-active {
        background-color: $white;
        color: $soft-green !important;
    }
    &:focus {
        background-color: $white;
        color: $charcoal;  
    }
    &:hover {
        background-color: $white;
        color: $soft-green;
    }
}

.navbar-menu {
    background-color: $white;
    font-size: 1.2em;

    &:hover {
        background-color: $white;
        color: $soft-green;
    }
}

.navbar-icon { // Instagram logo
    color: $charcoal;
    font-size: 1.5rem;
}

.navbar-brand { // Org title
    .navbar-item {
        padding: 0 1rem;
    }
    .title-text {
        font-weight: 700;
        font-size: 1.2em;
    }
    img {
        max-height: 3rem;
        padding-right: 0.5rem;
    }
}

// Hero images

#hero {
    color: $charcoal;

    hr {
        background-color: $white;
    }

    .main-page {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: -5%; // TODO: Look into portrait orientations
        width: 100%;
    }

    .main-image {
        width: 20%;
        height: 20%;
    }

    h1.main-title {
        padding-top: 0;
    }

    .link-tree {
        display: flex;
        justify-content: center;
        flex-direction: column;

        svg {
            color: $sand;
            font-size: 0.6em;
            margin-left: 1em;
        }

        .button {
            background-color: $white;
            border: 1px solid $sand;
            font-size: 1.5rem;
            margin: 0.2rem;
            &:hover {
                background-color: $soft-green;
                border: 0px;
                color: $white
            }
            &:active, &:focus {
                border: 2px solid $soft-green;
            }
        }
    }
}

.title {
    margin: auto 0.75rem!important;
}
.subtitle {
    letter-spacing: 0.25rem;
}

.hero-body {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 3rem;

    h1.title {
        padding-top: 0.5em;
        margin: 0 !important;
    }

    .section {
        padding-top: 0;
    }
}

#about {
    .image {
        max-width: 20vmax;
        margin: auto;

        img {
            border: 0.25rem dotted black;
        }
    }

    a {
        min-width: 25vmax;
        margin: 0.5rem;
    }
}

#contact {
    #contact-button {
        margin: 0.5rem auto;
        display: flex;
        justify-content: center;
    }

    svg {
        transition: all 0.15s ease-in-out;
        margin: auto 0.75vmax;

        &:hover {
            transform: scale(1.10);
            filter: opacity(0.75);
        }
    }

    hr {
        background-color: black;
    }
}

#blog {
    .hero-body {
        padding: 3rem 0.25rem 1rem 0.25rem;
    }

    .container {
        margin: 1.5rem auto;
    }

    #blog-card {
        transition: all 0.25s ease;
        margin-bottom: 0.5vmax;
        transform: scale(0.85);
        margin-right: 2.5vmax;
        margin-left: 2.5vmax;
        line-height: normal;
        border-radius: 0.25rem;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

        &:hover {
            transform: scale(0.875);
            -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
        }

        @media (max-width: 768px) {
            transform: scale(1);
            margin-bottom: 5vmax !important;

            &:hover {
                transform: scale(1.025);
                margin-bottom: 5vmax !important;
                -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
                -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            }

            .image {
                padding-top: 50% !important;
            }
        }

        .title {
            margin: 0.5rem !important;
        }

        .content {
            margin: 0.5rem;
        }

        .column {
            display: grid;

            .image {
                border-radius: 0.25rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}

#search {
    border-bottom: 0.15rem solid;

    input {
        border: none;
        outline: none;
        font-weight: 500 !important;

        &::placeholder {
            font-weight: 500;
            color: grey;
            letter-spacing: 0.25rem;
        }
    }

    .button {
        transition: all 0.25s ease;
        &:focus {
            outline: 0.25rem solid white;
        }

        border: none;
    }
}


#footer {
    background-color: rgba($color: $sand, $alpha: 0.50);

    #backtotop {
        transition: all 0.25s ease;
        width: 10rem;
        padding: 0.25rem;
        margin: auto auto 1rem auto;

        &:hover {
            transform: scale(1.05);
        }
    }

    .container {
        margin: auto;
        padding: 1.5rem;
        line-height: 1.25;

        color: $charcoal;

        .column {
            display: grid;
            justify-content: center;

            li {
                list-style: circle;
                list-style-position: outside;
            }

            a {
                color: $charcoal;
                &:hover {
                    color: $soft-green;
                }
            }

            figure {
                border: 1.5px solid white;
                border-radius: 50rem;
                justify-content: center;
                margin: auto;
                transition: all 0.25s ease;
                &:hover{
                    transform: scale(1.15);
                }
            }

            h3 {
                font-weight: 700;
            }

            p {
                display: flex;
                line-height: 2rem;
                align-items: center;
            }

            .date {
                color: gray;
                font-size: 0.75rem;
                line-height: 2rem;
                padding-left: 4px;
            }

            .social-contact {
                display: block;
                margin: 0;
                padding: 0;
                font-size: 1.5rem;
                line-height: 2rem;
                color: $soft-green;
                &:hover {
                    color: $charcoal;
                }
            }
        }

        @media (max-width: 768px) {
            .column {
                justify-content: start;
            }
        }
    }

    #credits {
        background-color: $sand;
        padding: 0.75rem;
        font-size: 0.85rem;

        a {
            text-decoration: underline;
            font-weight: bolder;
            color: white;
        }

        @media (max-width: 480px) {
            display: flex;
            flex-direction: column;
        }
    }
}

#project {
    .columns {
        .column {
            border-radius: 0.5rem;
            .image {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    #project-card {
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        transform: scale(0.95);
        transition: all 0.5s ease;
        margin-bottom: 0.5rem !important;
        display: inline-table;
        &:hover {
            transform: scale(0.975);
        }
    }
    .card {
        transition: all 0.25s ease;
        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.90)!important;
        }
    }
}

#post {
    @media (min-width: 768px) {
        margin: auto 2.5vmax;
    }
    a {
        text-decoration: underline;
    }
    #title {
        text-decoration: none;
    }
    .title {
        margin: auto;
    }
    #post-image {
        border-radius: 0.25rem;
    }
    .subtitle {
        letter-spacing: 0.05rem;
    }

    #description {
        margin-bottom: 1.25vmax;
    }

    .tag {
        margin: 0.15rem auto;
    }
    .content {
        ol, ul, blockquote {
            display: inline-block;
        }
        hr{
            background-color: grey;
        }
        img, iframe {
            max-width: calc(100% - 25vw);
            margin: 0.25rem auto;
            @media (max-width: 768px) {
                max-width: calc(100% - 5vw);
            }
        }
        ul, ol {
            display: inline-block;
        }
    }

    .container {
        margin: 2.5rem auto;
        word-break: break-word;
        max-width: -webkit-fill-available;
    }

    #disqus_thread {
        margin-top: 5vmax;
    }
}

#page-section {
    .content {
        ul, ol, blockquote {
            display: inline-block;
        }
    }
}

#event {
    .columns {
        margin: 1rem;
    }
    .container {
        max-width: 1000px;
        width: 100%;
    }
    h2 {
        padding: 0.3em 0;
        border-bottom: 1px solid $sand;
    }
    .event-content-container {
        display: flex;
        @media (max-width: 768px) {
            flex-direction: column;
        }
        .column {
            margin-top: 0px;
            @media (max-width: 768px) {
                margin-bottom: 1rem;
            }
        }
    }
    .button {
        background-color: $soft-green;
        color: $white;
        margin-bottom: 1em;
    }
}
#event-card {
 .image-container {
    background-position: center;
    background-size: cover;
 }
 text-align: left;
}

#event-highlight {
    margin-left: 0;
    padding-left: 1rem;
    background-color: $soft-green;
    color: $white;

    p {
        margin-bottom: 0.5rem;
    }
    h3 {
        margin: 0.5rem 0;
        font-weight: 600;
        color: $goldenrod;
        font-size: 1.2em;
    }
    a {
        &:hover {
            color: $sand;
        }
    }
    span {
        padding-right: 0.5rem;
    }
    ul {
        list-style-position: outside; 
        list-style-type: disc;
        padding-left: 1.5rem;
        font-size: 0.9em;
    }
    .event-tagline {
        font-size: 0.9em;
    }
    .button {
        background-color: $goldenrod;
        color: $white;
        border: 0px;
        font-weight: 600;
        &:hover {
            color: $soft-green;
        }
    }

    @media (max-width: 768px) {
        margin-top: 2rem;
        .event-tagline {
            font-size: 1em;
        }
        h3 {
            font-size: 1.2em;
        }
    }

}

#calendar {
    width: -webkit-fill-available;
    margin: 2rem;
}