---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div id="calendar">
                <iframe src="https://embed.styledcalendar.com/#uWrRSDRSy6g2UZtPhCSi" title="Styled Calendar" class="styled-calendar-container" style="width: 100%; border: none;" data-cy="calendar-embed-iframe"></iframe>
                <script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script>
            </div>
        </div>
    </section>
    </div>

    <!--Footer-->
    {% include footer.html %}
</body>

</html>