---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include navbar.html %}
  <section class="has-background-black-ter" id="team">
    <div class="title"><h1>The AMC Team</h1></div>
    <div class="columns">
      {% for credit in site.data.credits.core %}
        {% include credit.html credit=credit %}
      {% endfor %}
    </div>
  </section>
  <section class="has-background-black-ter" id="contributors">
    <div class="title"><h1>Contributors</h1></div>
    <div class="columns">
      {% for credit in site.data.credits.contributors %}
        {% include credit.html credit=credit %}
      {% endfor %}
    </div>
  </section>
  {% include footer.html %}
</body>
</html>
