---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include navbar.html %}
  <div style="display: block; height: 3em;" />
  <div class="title">The AMC Team</div>
  {% for credit in site.data.credits.core %}
    {% include credit.html credit=credit %}
  {% endfor %}
  <hr />
  <div class="title">Contributors</div>
  {% for credit in site.data.credits.contributors %}
    {% include credit.html credit=credit %}
  {% endfor %}
  {% include footer.html %}
</body>
</html>